<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Google Map</a>
    </div>
  </div>
</nav>
<div class="container" style="margin-top: 80px;" role="main">
		
	<div class="row">
        <div class="col-md-12">
        	<div id="map" style="height: 500px;"></div>
    	</div>
	</div>
</div>
<script>
   function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 18,
          center: {lat: 13.733043, lng: 100.529677 }
        });

	    var marker = new google.maps.Marker({
	        position: {
	          lat: 13.733043,
	          lng: 100.529677
	        },
	        map: map
    	});
    	attachSecretMessage(marker, "จามจุรีสแควร์");
      }

      // Attaches an info window to a marker with the provided message. When the
      // marker is clicked, the info window will open with the secret message.
      function attachSecretMessage(marker, secretMessage) {
        var infowindow = new google.maps.InfoWindow({
          content: secretMessage
        });

        marker.addListener('click', function() {
          infowindow.open(marker.get('map'), marker);
        });
      }
</script>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCHnLE4owp7cVLWxDv0wN0kxq8sD2PLJTc&callback=initMap" async defer></script>